<h2>Log in</h2>
<div class="row">
  <div class="col-md-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <fieldset>
        <p class="text-uppercase pull-center text-color"> SIGN UP.</p>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control input-lg', placeholder:'Email' %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control input-lg', placeholder:'Password'  %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-lg btn-primary" %>
        </div>
      <fieldset>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
