<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!-- nav  -->
    <nav class="navbar navbar-expand-lg" style="background-color: #032b41;" >
      <a class="navbar-brand" href="#">Private Event</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <% if user_signed_in? %>

            <li class="nav-item">
              <%= link_to 'Home', user_index_path %>
            </li>

            <li class="nav-item">
              <%= link_to 'Events' %>
            </li>

            <li class="nav-item">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            </li>

          <% else %>

            <li class="nav-item">
              <%= link_to 'Home', root_path %>
            </li>

            <li class="nav-item">
              <%= link_to 'Signup', new_user_registration_path %>
            </li>

            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path %>
            </li>

          <% end %>

        </ul>
      </div>
    </nav>
    <!-- //nav -->
    <div class="main-top">
      <!-- header -->
      <p class="notice text-white"><%= notice %></p>
      <p class="alert text-white"><%= alert %></p>
      <!-- //header -->
      <!-- banner -->
      <%= yield %>
    </div>
    <!-- banner -->
    <!-- footer -->
    <footer>
      <div class="bottom-footer text-center py-md-4 py-3">
        <p>
          © All Rights Reserved | DevDen
        </p>
      </div>
    </footer>
    <!-- copy right -->
  </body>
</html>
